.logged_in_header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.site_name {
  margin-right: 30px;
}
.posts_index {
  margin-right: auto;
}
.posts_create {
  margin-left: auto;
}
.logout {
  margin-left: 30px;
}
.not_logged_in_header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.not_logged_in_header_nav li {
  margin-right: 30px;
}
.error {
  color: red;
}
.success {
  color: green;
}
.delete {
  display: inline;
}

.date {
  color: gray;
}
